.faq {
  flex: 2;
  margin: vars.rem(50) 0 0 vars.rem(80);
  height: calc(100% - vars.rem(50));

  .title {
    text-transform: uppercase;
    margin-bottom: vars.rem(15);

    @include vars.media(tablet-small, max) {
      text-align: center;
    };
  }

  .container_question {
    flex-wrap: wrap;
    height: vars.rem(33);
    max-width: vars.rem(350);
    min-width: vars.rem(250);
    width: 80%;
    position: relative;
    margin-bottom: vars.rem(30);
    border-bottom: 1px solid black;
    transition: height .5s;

    .upper {
      @include vars.flexer($ai: center, $jc: space-between);
      cursor: pointer;

      & > * {
        pointer-events: none;
      }
    }
    
    &.active {
      height: vars.rem(100);

      .reply {
        transform: scaleY(1);
      }

      .question {
        font-weight: bold;
      }
      
      .opener {
        transform: rotate(180deg);
      }
    }



    .reply {
      width: 100%;
      transition: transform .5s;
      margin-top: vars.rem(15);
      transform-origin: top;
      transform: scaleY(0);
    }

    .opener {
      color: red;

      padding: vars.rem(3);
    }

    @include vars.media(tablet-small, max) {
      margin: vars.rem(9) auto;
    };
  }

  @include vars.media(tablet-small, max) {
    margin: 0;
    margin-bottom: vars.rem(20);
  };
}