.img {
  flex: 1;

  position: relative;

  .female {
    position: relative;
    width: 100%;

    @include vars.media(tablet-small) {
      overflow: hidden;
    };
    height: 100%;
  }

  .female-img {
    width: 100%;
    height: 100%;
    background: url("/images/illustration-woman-online-desktop.svg") right center/cover no-repeat;
    background-size: 110% 55%;

    @include vars.media(tablet-small, max) {
      position: absolute;
      top: -55%;
      background-size: contain;
      background-position: center center;
    };
  }

  .shadow {
    @include vars.pseudo($pos: absolute, $content: '', $w: 100%, $h: 150%);
    transform: translate(-10%, -30%) scale(1.2);
    top: 0;
    background: url("/images/bg-pattern-desktop.svg") right center/cover no-repeat;

    @include vars.media(tablet-small, max) {
      left: 50%;
      top: -80%;
      transform: translate(-50%,0);
      background-size: contain;
      background-position-x: center;
    };
  }

  .box {
    @include vars.pseudo($pos: absolute, $content: '', $w: 60%, $h: 100%);
    top: 0;
    left: 0;
    transform: translate(-40%, 7%);
    background: url("/images/illustration-box-desktop.svg") right center/contain no-repeat;

    @include vars.media(tablet-small, max) {
      top: -42%;
      left: -4%;
      transform: scale(.6);
    };
  }
}