@use './functions.scss' as funcs;
@use './mixins.scss' as mixins;
@use './colors.scss' as colors;

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    line-height: 1.5;
    font-family: 'Kumbh Sans', sans-serif;
    @include mixins.flexer(center,center);
    background: linear-gradient(colors.$soft-violet, colors.$soft-blue);
    font-size: funcs.rem(12);

}
a,
a:visited,
a:focus {
    text-decoration: none;
    color: unset;
    cursor: pointer;
}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container {
    max-width: funcs.rem(920);
    min-width: funcs.rem(328);
    width: 80%;
    background: colors.$light-grayish-blue;
    height: funcs.rem(530);
    border-radius: funcs.rem(20);
    @include mixins.flexer();
    flex-wrap: wrap;

    @include mixins.media(tablet-small, max) {
        flex-direction: column;
    };


    & > * {
        height: 100%;
        @include mixins.media(tablet-small, max) {
            width: 100%;
        };
    }
}
