// Primary

// Text

$very-dark-des-blue: hsl(238, 29%, 16%);
$soft-red: hsl(14, 88%, 65%);

// Gradient

$very-dark-grayish-blue: hsl(237, 12%, 33%);
$dark-grayish-blue: hsl(240, 6%, 50%);

$soft-violet: hsl(273, 75%, 66%);
$soft-blue: hsl(240, 73%, 65%);

// Neutral


// Dividers

$light-grayish-blue: hsl(240, 5%, 91%);