@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
.faq .container_question .upper, body, .container {
  display: flex;
}

.img .shadow, .img .box {
  position: absolute;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  line-height: 1.5;
  font-family: "Kumbh Sans", sans-serif;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background: linear-gradient(#af67e9, #6565e7);
  font-size: 0.75rem;
}

a,
a:visited,
a:focus {
  text-decoration: none;
  color: unset;
  cursor: pointer;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 57.5rem;
  min-width: 20.5rem;
  width: 80%;
  background: #e7e7e9;
  height: 33.125rem;
  border-radius: 1.25rem;
  align-items: start;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

@media only screen and (max-width: 639px) {
  .container {
    flex-direction: column;
  }
}
.container > * {
  height: 100%;
}

@media only screen and (max-width: 639px) {
  .container > * {
    width: 100%;
  }
}
.img {
  flex: 1;
  position: relative;
}
.img .female {
  position: relative;
  width: 100%;
  height: 100%;
}
@media only screen and (min-width: 640px) {
  .img .female {
    overflow: hidden;
  }
}
.img .female-img {
  width: 100%;
  height: 100%;
  background: url("/images/illustration-woman-online-desktop.svg") right center/cover no-repeat;
  background-size: 110% 55%;
}
@media only screen and (max-width: 639px) {
  .img .female-img {
    position: absolute;
    top: -55%;
    background-size: contain;
    background-position: center center;
  }
}
.img .shadow {
  content: "";
  display: block;
  width: 100%;
  height: 150%;
  transform: translate(-10%, -30%) scale(1.2);
  top: 0;
  background: url("/images/bg-pattern-desktop.svg") right center/cover no-repeat;
}
.img .shadow else {
  position: absolute;
}
@media only screen and (max-width: 639px) {
  .img .shadow {
    left: 50%;
    top: -80%;
    transform: translate(-50%, 0);
    background-size: contain;
    background-position-x: center;
  }
}
.img .box {
  content: "";
  display: block;
  width: 60%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translate(-40%, 7%);
  background: url("/images/illustration-box-desktop.svg") right center/contain no-repeat;
}
.img .box else {
  position: absolute;
}
@media only screen and (max-width: 639px) {
  .img .box {
    top: -42%;
    left: -4%;
    transform: scale(0.6);
  }
}

.faq {
  flex: 2;
  margin: 3.125rem 0 0 5rem;
  height: calc(100% - 3.125rem);
}
.faq .title {
  text-transform: uppercase;
  margin-bottom: 0.9375rem;
}
@media only screen and (max-width: 639px) {
  .faq .title {
    text-align: center;
  }
}
.faq .container_question {
  flex-wrap: wrap;
  height: 2.0625rem;
  max-width: 21.875rem;
  min-width: 15.625rem;
  width: 80%;
  position: relative;
  margin-bottom: 1.875rem;
  border-bottom: 1px solid black;
  transition: height 0.5s;
}
.faq .container_question .upper {
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  cursor: pointer;
}
.faq .container_question .upper > * {
  pointer-events: none;
}
.faq .container_question.active {
  height: 6.25rem;
}
.faq .container_question.active .reply {
  transform: scaleY(1);
}
.faq .container_question.active .question {
  font-weight: bold;
}
.faq .container_question.active .opener {
  transform: rotate(180deg);
}
.faq .container_question .reply {
  width: 100%;
  transition: transform 0.5s;
  margin-top: 0.9375rem;
  transform-origin: top;
  transform: scaleY(0);
}
.faq .container_question .opener {
  color: red;
  padding: 0.1875rem;
}
@media only screen and (max-width: 639px) {
  .faq .container_question {
    margin: 0.5625rem auto;
  }
}
@media only screen and (max-width: 639px) {
  .faq {
    margin: 0;
    margin-bottom: 1.25rem;
  }
}

/*# sourceMappingURL=style.css.map */
